<html lang="{{ .Site.Language }}">
    <head>
        <title>{{ .Title | title }}</title>
        <link rel='icon' type='image/png' href='/jad.svg'>
        <link rel='stylesheet' type='text/css' href='/style.css'>
        <link rel='canonical' href='https://jad.red/'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name="robots" content="index, follow">
        <meta charset="utf-8">
    </head>
    <body style="display: flex; flex-direction: column; justify-content: start;">
        <section>
            <a id='return' href="/">Back...</a>
            <h1>{{ .Title | title }}</h1>
            {{ partial "desc.html" . }}
            {{ .Content }}
        </section>
    </body>
</html>
