<nav>
    <img src="/jad.svg" draggable='false'/>
    <ul>
        <li><a class='contact' style="--icon: url('github.svg')" href='https://github.com/jadc'>jadc</a></li>
        <li><a class='contact' style="--icon: url('aur.svg')" href='https://aur.archlinux.org/account/jad'>jad</a></li>
        <li><a class='contact' style="--icon: url('modrinth.svg')" href='https://modrinth.com/user/jadc'>jadc</a></li>
        <li><a class='contact' style="--icon: url('curseforge.svg')" href='https://curseforge.com/members/i_jad/projects'>i_jad</a></li>
        <li><a class='contact' style="--icon: url('discord.svg')" href='https://discordapp.com/users/176322126129790976'>jad.c</a></li>
    </ul>
</nav>
